<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Acerca de Nosotros</h1>
        <p class="lead">En EcoDrive, estamos comprometidos con una visión de un futuro sostenible y limpio. Nuestro objetivo es liderar la revolución de la movilidad eléctrica y brindar soluciones amigables con el medio ambiente.</p>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>Nuestros Valores</h2>
            <ul>
                <li><strong>Sostenibilidad:</strong> Promovemos un estilo de vida sostenible y reducimos la huella de carbono.</li>
                <li><strong>Innovación:</strong> Impulsamos la innovación en tecnología de vehículos eléctricos y movilidad.</li>
                <li><strong>Calidad:</strong> Ofrecemos productos y servicios de alta calidad que superan las expectativas de nuestros clientes.</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2>Nuestros Objetivos</h2>
            <p>Nuestro principal objetivo es facilitar la transición a la movilidad eléctrica para todos. Buscamos:</p>
            <ul>
                <li>Promover el uso de vehículos eléctricos como una alternativa sostenible al transporte convencional.</li>
                <li>Construir una flota diversa y eficiente de autos eléctricos para satisfacer las necesidades de nuestros clientes.</li>
                <li>Brindar una experiencia de conducción cómoda, conveniente y respetuosa con el medio ambiente.</li>
            </ul>
        </div>
    </div>
</div>

